[submodule "flows/validation"]
	path = flows/validation
	url = https://code.com/odin_validation.git
	ignore = dirty
	branch = master
[submodule "flows/verification"]
	path = flows/verification
	url = https://code.com/odin-verification-flow.git
	ignore = dirty
	branch = master
